@model ML.Dependiente
@{
    ViewBag.Title = "Dependientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <p>Aqui puede ver, editar o agrgar a una Aseguradora</p>
    <p>Para agregar a una Aseguradora presione el boton verde</p>
    <p>Para editar a una Aseguradora presione el boton amarillo</p>
    <p>Para eliminar una Aseguradora presione el boton rojo</p>
    <hr class="hr" />
    <div class="row" style="float:right">
        <div style="float:right">
            @Html.ActionLink("Añadir +", "Form", "Dependiente", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>
    <hr class="hr" />
    <div class="row">

        <table class="table table-dark" id="tblDependiente">
            <thead>
                <tr>
                    <th>Editar</th>
                    <th style="display :none">ID del Dependiente</th>
                    <th>Nombre del Dependiente</th>
                    <th>RFC</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Estado Civil</th>
                    <th>Genero</th>
                    <th>Telefono</th>
                    <th>Dependiente</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ML.Dependiente dependiente in Model.Dependientes)
                {
                        <tr>
                        <td class="text-center"><a class="btn btn-warning bi bi-pencil-square" href="@Url.Action("Form", "Dependiente", new { IdDependiente = dependiente.IdDependiente})"></a></td>
                            <br />

                            <td style="display :none">@dependiente.IdDependiente</td>
                            <td>@dependiente.Nombre @dependiente.ApellidoPaterno @dependiente.ApellidoMaterno</td>
                            <td>@dependiente.RFC</td>
                            <td>@dependiente.FechaDeNacimiento</td>
                            <td>@dependiente.Civil.Nombre</td>
                            <td>@dependiente.Genero</td>
                            <td>@dependiente.Telefono</td>
                            <td>@dependiente.Tipo.Nombre</td>
                        <td class="text-center"><a class="btn btn-danger bi bi-trash-fill" href="@Url.Action("Delete", "Dependiente", new { IdDependiente = dependiente.IdDependiente})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"><i class="bi bi-eraser-fill" style="color: mintcream"></i></a></td>

                        </tr>
                }

            </tbody>
        </table>
    </div>

</div>
